body {
  background: url('./images/music3.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#leftArrow {
  padding-right: 130px;
  padding-top: 100px;
  background: transparent;
  border: none;
  font-size: 150px;
  text-align: center;
  outline: none;
  vertical-align: middle;
}

#leftArrow:hover {
  color: white;
  border: none;
  outline: none;
}

#rightArrow {
  padding-left: 130px;
  padding-top: 100px;
  background: transparent;
  border: none;
  font-size: 150px;
  outline: none;
  vertical-align: middle;
}

#rightArrow:hover {
  color: pink;
  outline: none;
}

#divFocus {
  outline: none;
}

.Home {
  padding-top: 30px;
  padding-left: 30px;
  display: inline-block;
  clear: both;
  margin: 0;
}

.homeComps {
  display: inline-block;
  float: right;
}

#signUp {
  color: white;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 15px 36px;
  outline: none;
}

#signUp:hover {
  color: black;
  background-color: inherit;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  outline: none;
}

#login {
  color: white;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 15px 44px;
  outline: none;
}

#login:hover {
  color: black;
  background-color: inherit;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  outline: none;
}

.navBarButtons {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 5px 10px;
  outline: none;
}

.navBarButtons:hover {
  background-color: inherit;
  color: black;
  outline: none;
}

#signUpForm {
  display: none;
  padding-top: 40px;
}

#loginForm {
  display: none;
  padding-top: 40px;
}

#userBarForm {
  width: 500px;
  padding-left: 200px;
  padding-top: 10px;
  background: rgba(143, 143, 143, 0.1)
}

#userBarDiv {
  width: 100%;
  background: rgba(143, 143, 143, 0.1)
}

.checkButtons {
  color: black;
  background-color: inherit;
  font-size: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
}

.checkButtons:hover {
  color: white;
  background-color: black;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  outline: none;
}

.formButton {
  font-size: 25px;
  border: none;
  background: transparent;
  outline: none;
}

.formButton:hover {
  border: 1px solid black;
  background-color: inherit;;
  border-radius: 15px;
  outline: none;
}

#userBarButton {
  font-size: 20px;
  border: none;
  background: transparent;
  height: 10px;
  outline: none;
}

#userBarButton:hover {
  border: 1px solid black;
  background-color: inherit;;
  border-radius: 10px;
  outline: none;
}

#logo {
  position:absolute;
  bottom:0;
  font-family: 'Bungee Outline', cursive;
  font-size: 200px;
}

.yourLikedArtists {
  margin: 0px;
  color: white;
  position:absolute;
  bottom:0;
  font-family: 'Bungee Outline', cursive;
  font-size: 170px;
  padding-left: 20px;
  clear: both;
}

#confirmArtist {
  color: white;
  font-family: 'Bungee Inline', cursive;
  font-size: 25px;
}

#doubleClickSong {
  font-family: 'Bungee Inline', cursive;
  font-size: 25px;
  color: white;
}

#InitialArtist {
  padding-top: 50px;
  text-align: center;
}

#checkArtistDivId img {
  height:300px;
  width:300px;
  border-radius: 25px;
  border: 1px solid black
}

#ShowArtist {
  text-align: center;
}

#ShowArtist.active #showArtistPhoto {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

#showArtistName {
  font-size: 55px;
  font-family: 'Bungee Outline', cursive;
  vertical-align: middle;
}

#showArtistPhoto {
   max-width: 700px;
   height: 400px;
   border-radius: 25px;
   vertical-align: middle;
   border: 1px solid black
}

#albumPhoto {
  width: 150px;
  height: auto;
  border-radius: 100px;
  border: 1px solid black
}

#songsBar {
  text-align: center;
}

#songNames {
  text-align: center;
}

.yesArtistsSpan img {
  height:150px;
  width:150px;
  border-radius: 25px;
  border: 1px solid black
}

#container {
  text-align: center;
}

.leftRight {
  display: inline-block;
}

.showSongsClass {
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding-top: 40px;
}

.container {
  background-color: red;
  overflow: hidden;
  width: 200px;
}

#coverFlowPhoto {
  border-radius: 0px;
  border: 1px solid black
}

#coverFlowDiv {
  padding-top: 15px;
  width: 100%;
  margin-top: -10px;
}

.coverflow__stage__14oqC {
  background: transparent;
  border-radius: 25px;
}

.coverflow_figure_3bk_C {
  max-height: 15px
}

.coverflow__text__39hqd {
  font-family: 'Karla', sans-serif;
}

#artistSearch {
  border-radius: 5px;
  border: none;
}

#initialArtistSubmit {
  color: black;
  font-size: 10px;
  border: 1px solid black;
  background-color: inherit;
  border-radius: 10px;
}

#initialArtistSubmit:hover {
  color: white;
  background-color: black;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  outline: none;
}

#userBarButton {
  font-size: 25px;
  outline: none;
}

#userBarButton:hover {
  border: none;
  color: white;
  outline: none;
}

.signUpProcess {
  color: white;
  /*font-family: 'Bungee Inline', sans-serif;*/
  font-size: 35px;
}

#initialArtistsProcess {
  font-family: 'Bungee Outline', sans-serif;
  font-size: 40px;
  outline: none;
}

#helpText {
  border: none;
  padding-left: 15px;
  padding-top: 15px;
  background: rgba(143, 143, 143, 0.1);
  font-family: 'Karla', sans-serif;
  color: black;
  font-size: 15px;
}

.helpIcons {
  width: 30px;
}
