
body {
  background: url('./images/concert1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Home {
  padding-top: 100px;
}

.artist {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

.songs {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}
