body {
  background: url('./images/music3.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#Home {
  padding-top: 30px;
  padding-right: 30px;
}

#signUp {
  color: white;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 15px 27px;
}

#signUp:hover {
  color: black;
  background-color: white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}

#login {
  color: white;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 15px 27px;
}

#login:hover {
  color: black;
  background-color: white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}

#signUpForm {
  display: none;
  padding-top: 40px;
}

#loginForm {
  display: none;
  padding-top: 40px;
}

#logo {
  padding-top: 500px;
  font-family: 'Bungee Outline', cursive;
  position: fixed;
  font-size: 200px;
  padding-left: 40px;
}

#InitialArtist {
  text-align: center;
}

#artistCheckImage {
  width: 400px;
  height: auto;
  border-radius: 25px;
}

#ShowArtist {
  text-align: center;
}

#like_button {
  float: center;
}

#next_button {
  float: center;
}

#showArtistName {
  font-size: 55px;
  font-family: 'Bungee Outline', cursive;
}

#showArtistPhoto {
   width: auto;
   height: 400px;
   border-radius: 25px;
}

#albumPhoto {
  width: 150px;
  height: auto;
  border-radius: 100px;
}

#songsBar {
  text-align: center;
}

#songNames {
  text-align: center;
}

#iFrame {
  border-radius: 25px;
  border: none;
}

#yesArtistsPhoto {
  display: inline;
  margin: 0 auto;
  width: 100;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 100px;
}

.songs {
  float: center;
  margin: auto;
  width: 50px;
  height: 50px;
  /*margin: 0 1.5%;
  width: 30%;*/
}
